.sign-in {
  display: flex;
  flex-direction: column;
  padding: 3.2rem;

  .title {
    margin: 1rem 0;
  }

  form {
    .buttons-container {
      display: flex;
      justify-content: space-between;
    }
  }
}
