.sign-in {
  display: flex;
  flex-direction: column;
  padding: 4.8rem;
  box-shadow: 0 2rem 3rem 0 rgba(0, 0, 0, 0.2);

  .title {
    margin: 1rem 0;
  }

  form {
    .buttons-container {
      display: flex;
      justify-content: space-between;
    }
  }
}
